body {
  margin-top: 70px;
  background: #333;
  text-align: center;
  color: #fff;
}

.card-primary {
  background-color: #2e86de;
  padding: 10px;
}

.card-success {
  background-color: #ee5253;
  padding: 10px;
}

.card-danger {
  background-color: #10ac84;
  padding: 10px;
}
